body {
    background-color: #1d1c1b;
    margin: 0;
}
h3,h2 {
    color: white;
    text-align: center;
}
.buttonWrapper {
    text-align: center;
}
button {
    color: white;
    font-size: 120%;
    height: 25%;
    width: 10%;
    padding: 6px;
    background-color: #1d1c1b;
    border-radius: 10px;
    border: white 2px solid;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}
button:hover {
    color: #1d1c1b;
    background-color: white;
    border-radius: 10px;
    border: white 2px solid;
}
h2 {
    font-size: 300%;
    margin: 1% auto;
    text-transform: uppercase;
    letter-spacing: 3px;
}
#container {
    max-width: 800px;
    margin: 0 auto;
}
.circle {
    width: 20%;
    height: 20%;
    margin: 2.5%;
    padding-bottom: 20%;
    float: left;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px white;
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    transition: box-shadow 0.3s;
    -webkit-transition: box-shadow 0.3s;
    -moz-transition: box-shadow 0.3s;
}
.circle:hover {
    box-shadow: 0px 0px 10px 2px black;
}