* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
html {
  scroll-behavior:smooth
}
body {
  background-color: black;
}
.mainMenu {
  background-color: black;
  width: 100%;
  z-index: 1;
  display: none;
  position: fixed;
  border-bottom: solid 1px #ff3b10;
}
.upLogo {
  max-width: 20%;
}
.mainMenu.toggleCls {
  display: block;
  transition: all 0.5s;
}
.mainMenuItems {
  list-style: none;
  display: flex;
  padding: 4px;
  margin: 0;
  font-size: 25px;
  flex-direction: column;
  text-align: center;
}
.mainMenuItems li a{
  text-decoration: none;
  color: white;
  transition: all 0.6s;
}
.mainMenuItems li a:hover{
  color: #ff3b10 ;
}
.hamIcon {
  position: static;
}
input[type=checkbox] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.6s;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  top: 22px;
  right: 15px;
  height: 22px;
  width: 22px;
  z-index: 2;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 22px;
  background-color: white;
}
.spinner:hover {
  color: #ff3b10 ;
}
.horizontal {
  transition: all 0.2s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.6s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.6s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.6s;
  box-sizing: border-box;
  opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.6s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.6s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
.fa-arrow-alt-circle-left {
  color: white;
  transform: rotate(90deg);
  font-size: 32px;
  transition: all 0.6s;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 15px;
  z-index: 2;
}
.fa-arrow-alt-circle-left:hover {
  color: #ff3b10 ;
}
.hero {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(img/PizzaOven\ -\ Photo\ by\ Emily\ Austin\ on\ Unsplash_Easy-Resize.com.jpg);
}
.backgroundImg1 {
  height: 40vh;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient( rgba(24, 20, 2, 0.8), rgba(24, 27, 2, 0.5) ), url(img/pizzaHam\ -\ Photo\ by\ Getúlio\ Moraes\ on\ Unsplash\ \(1\)_Easy-Resize.com.jpg);
}
.backgroundImg2 {
  height: 40vh;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient( rgba(24, 20, 2, 0.8), rgba(24, 27, 2, 0.5) ), url(img/pizzaPepperoni\ -\ Photo\ by\ Alan\ Hardman\ on\ Unsplash\ \(1\)_Easy-Resize.com.jpg);
}
.logoMainPage {
  width: 250px;
  border-radius: 50%;
  border: 6px white dotted;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%)
}
#pizzaMenu, #orderNow, #aboutUs {
  margin: 0;
  padding-top: 5%;
}
.section {
  color: white;
  margin: 0 7% 7% 7%;
}
#pizzaMenu {
  text-align: center;
  margin: 20px auto;
}
#pizzaMenu h2 {
  padding-bottom: 5%;
  font-size: 40px;
}
.menuPics img{
  margin: 20px auto;
  width: 85vw;
  align-items: center;
}
#orderNow {
  text-align: center;
  margin-top: 15vh;
  margin-bottom: 15vh;
}
#orderNow h3 {
  padding-top: 20px;
  font-size: 28px;
}
#orderNow h2 {
  padding-bottom: 5%;
  font-size: 40px;
}
#aboutUs h2, h3 {
  text-align: center;
  padding-bottom: 5%;
}
#aboutUs h2 {
  font-size: 40px;
}
.contact {
  display: flex;
  flex-direction: column;  
  align-items: center;
}
.contactDetails {
  width: 95%;
  margin-top: 30px;
  border: solid #ff3b10 3px;
  padding: 10px;
  border-radius: 20px;
}
.icon {
  margin: 10px 30px;
  color: white;
}
.openingTime {
  padding-left: 75px;
  margin-bottom: 8px;
}

@media(min-width: 768px) {

  .hamIcon {
    display: none;
  }
  .mainMenu {
    position: fixed;
    top: 0;
    display: block;
  }
  .upLogo {
    max-width: 20%;
    float: left;
    justify-content: center;
  }
  .mainMenuItems {
    flex-direction: row;
    justify-content: flex-end;
  }
  .mainMenuItems li a{
    text-decoration: none;
    color: white;
    padding-right: 25px;
  }
  .logoMainPage {
    width: 400px;
  }
  .menuPics img{
    width: 60vw;
  }
  .contact {
    flex-direction: row;
    justify-content: space-between
  }
  .contactDetails {
    width: 40%;
  }
}
